@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.myclass {
    color: red;
    background-color: yellow;
    padding: 20px;
}